<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" data-turbo-temporary>
    <p class="fw-bold mb-1">
      <%= resource.errors.count %>件のエラーがあります。
    </p>
    <ul class="mb-0 ps-3">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
