<div class="hero-section text-center">
  <div class="hero-icon">&#9993;</div>
  <h1>DeviseMailApp へようこそ！</h1>
  <p class="lead">メール認証付きのサンプルアプリです ✨</p>
</div>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <h3 class="panel-title">ログイン中</h3>
        </div>
        <div class="panel-body text-center">
          <p><span class="glyphicon glyphicon-user"></span> <%= current_user.email %></p>
          <%= link_to 'ログアウト', destroy_user_session_path,
                class: 'btn btn-danger',
                data: { method: :delete } %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-log-in"></span> すでに登録済みの方
          </h3>
        </div>
        <div class="panel-body text-center">
          <p>メールアドレスとパスワードでログインできます</p>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-pencil"></span> 初めての方
          </h3>
        </div>
        <div class="panel-body text-center">
          <p>メールアドレスで新規アカウントを作成できます</p>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
